<ion-split-pane>
  <ion-menu contentId ="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Logs</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list *ngFor="let log of logs">
        <ion-menu-toggle auto-hide="false">
          <ion-item button=true routerDirection="forward" (click)="load(log)">
             {{ log }}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>