<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        DATA
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">


    <ion-card>
      <ion-card-content>
        <canvas #lineEC></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <canvas #lineTemp></canvas>
      </ion-card-content>
    </ion-card>

  </div>

  <!--
  <ion-card>
    <ion-list padding>
      <ion-item  *ngFor="let characteristic of device.characteristics" >
        {{ characteristic.service }} : {{ characteristic.characteristic }} 
      </ion-item>
    </ion-list>
  </ion-card>


  <ion-card>
      <ion-list padding>
        <ion-item  *ngFor="let services of device.services" >
          {{ services }} 
        </ion-item>
      </ion-list>
    </ion-card>
-->

  <ion-card>
      <form (ngSubmit)="sendData()">
          <ion-grid>
            <ion-row color="primary" justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div padding>
                  <ion-item>
                    <ion-input [(ngModel)]="dataOut" type="text" name="send"></ion-input>
                  </ion-item>
                </div>
                <div padding>
                  <ion-button  size="large" type="submit" expand="block">Send</ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col align-self: center>
          <ion-button block (click)="stop()"> Stop <ion-icon slot="end" name="square"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col align-self: center>
          <ion-button block (click)="start()"> Reset <ion-icon slot="end" name="play"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>