@media screen and (orientation: portrait) {
  ion-card-content {
    height: 70vh;
  }
}

@media screen and (orientation: landscape) {
    ion-card-content {
      height: 100vh;
    }
  }

ion-row {
  text-align: center;
}

/*
ion-range {
    --bar-background: #bdd9e4;
    --bar-background-active: #1da2d8;
    --knob-background:#1da2d8;
    --bar-height: 4px;
}
*/  
