<ion-header>
  <ion-toolbar>
    <ion-title>
      AquaSense
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
 <ion-list padding>
    <ion-button block (click)="scan()"> scan  <ion-icon name="bluetooth"></ion-icon> </ion-button>
    <ion-list-header>
      Discovered Devices 
    </ion-list-header>
    <ion-item button=true *ngFor="let device of devices" (click)="deviceSelected(device)">
      {{ device.name || 'Unnamed' }} : {{ device.rssi }} <ion-icon name="logo-rss"></ion-icon> 
    </ion-item>
    <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
  </ion-list>
 </ion-content>
 
 <ion-footer>
   <ion-toolbar>
     <p>{{ statusMessage }}</p>
   </ion-toolbar>
 </ion-footer>


 <!--
   <button ion-button block (click)="disconnect()">Disconnect</button>
 -->